/keys
/data
/testData

/blocker-slack
/bug-automation
/bug-exportor
/bugs-per-team
/bugs-to-list
/bugs-to-teams
/bugzilla-operator
/generate
/smartsheets
/team-exportor
/upcoming-sprint-stats
/feature-slo-automation
/team-slo-results

# Created by https://www.gitignore.io/api/go,react
# Edit at https://www.gitignore.io/?templates=go,react

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# End of https://www.gitignore.io/api/go
